<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.dimine.mobile.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/mobile/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FCExporter</servlet-name>
    <servlet-class>com.fusioncharts.exporter.servlet.FCExporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FCExporter</servlet-name>
    <url-pattern>/FCExporter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExplorerRestletServlet</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>org.activiti.explorer.rest.ExplorerRestApplication</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>RestletServlet</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>org.activiti.rest.service.application.ActivitiRestServicesApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExplorerRestletServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestletServlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/conf/spring/app*.xml</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>international</filter-name>
    <filter-class>com.dimine.i18n.filter.International</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>international</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/conf/properties/app.log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <error-page>
    <error-code>403</error-code>
    <location>/pub/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pub/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pub/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/pub/500.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AuthImg</servlet-name>
    <servlet-class>com.dimine.servlet.AuthImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthImg</servlet-name>
    <url-pattern>/AuthImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>
			net.sf.jasperreports.j2ee.servlets.ImageServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/report/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>
			com.dimine.report.PdfServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/report/PdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XlsServlet</servlet-name>
    <servlet-class>
			com.dimine.report.XlsServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XlsServlet</servlet-name>
    <url-pattern>/report/XlsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RtfServlet</servlet-name>
    <servlet-class>
			com.dimine.report.RtfServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RtfServlet</servlet-name>
    <url-pattern>/report/RtfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>
			com.dimine.report.ReportServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/report/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JRPrintServlet</servlet-name>
    <servlet-class>
			com.dimine.report.JRPrintServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JRPrintServlet</servlet-name>
    <url-pattern>/report/JRPrintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.dimine.pub.action.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
</web-app>